{%extends 'base_layout.htm'%}
{%load static%}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'assets/deposit.css' %}">
{% endblock extra_head %}
{% block content %}
<main>
    <div class="container">
      <h2 class="my-5 text-center">Deposit</h2>
      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card">
            <form method="POST" action="/shop/deposit_funds/" class="card-body">
              {%csrf_token%}
                <h2 class="my-5">Enter Amount you wish to deposit</h2>
                <div class='hideable_billing_form'>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">$</span>
                        </div>
                        <input type="number" name="amount" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <div class="input-group-append">
                          <span class="input-group-text">.00</span>
                        </div>
                      </div>
                    <button class="buy-btn" type="submit">Submit Amount</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock %}