{%load static%}
<footer class="mt-5 py-5">
    <div class="row container mx-auto pt-5">
        <div class="footer-one col-lg-3 col-md-6 col-12">
            <h1>Sneaker heads</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime sapiente repellendus dolor expedita blanditiis veniam.</p>
            
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12">
            <h5 class="pb-2">Featured</h5>
            <ul class="text-uppercase list-unstyled">
                <li><a href="#">Men</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">Children</a></li>
                <li><a href="#">Watches</a></li>
                <li><a href="#">Shoes</a></li>
            </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
            <h5 class="pb-2">Contact us</h5>
            <div>
                <h6 class="text-uppercase"> Address</h6>
                <p>123 MAIN STREET US</p>
            </div>
            <div>
                <h6 class="text-uppercase"> Phone</h6>
                <p>+1(987) 546 999</p>
            </div>
            <div>
                <h6 class="text-uppercase"> Email</h6>
                <p>hello@sneakerheads.com</p>
            </div>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
            <h5 class="pb-2">Instagram</h5>
            <div class="row">
                <img class="img-fluid w-25 h-100 m-2" src="{% static 'assets/img/insta/1.jpg' %}" alt="">
                <img class="img-fluid w-25 h-100 m-2" src="{% static 'assets/img/insta/2.jpg' %}" alt="">
                <img class="img-fluid w-25 h-100 m-2" src="{% static 'assets/img/insta/3.jpg' %}" alt="">
                <img class="img-fluid w-25 h-100 m-2" src="{% static 'assets/img/insta/4.jpg' %}" alt="">
                <img class="img-fluid w-25 h-100 m-2" src="{% static 'assets/img/insta/5.jpg' %}" alt="">
            </div>
        </div>
    </div>
    <div class="copyright mt-5">
        <div class="row container mx-auto">
            <div class="col-lg-3 col-md-6 col-12">
                <img src="{% static 'assets/img/payment.png'%}" alt="">
            </div>
            <div class="col-lg-4 col-md-6 col-12 text-nowrap mb-4">
                <p>sneakerheads &copy; 2022 All Rights Reserved</p>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-2">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>